* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
img {
  width: 40%;
}
:root {
  --red-color: #ff2442;
  --blue-color: #3db2ff;
  --orange-color: #ffb830;
  --white-color: #ffedda;
  --border-radius: 6px;
  --padding: 0.8rem;
  --margin: 1rem;
}
header {
  background-color: var(--blue-color);
  position: sticky;
  top: 0;
  margin-bottom: 1.5rem;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: var(--padding);
}

nav a {
  margin-right: auto;
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-right: var(--margin);
}
nav ul li a {
  margin-right: var(--margin);
  text-decoration: none;
  color: #ffedda;
  font-size: 1.5rem;
  font-weight: bold;
  transition-duration: 200ms;
}
nav ul li a img {
  width: 2rem;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  margin-bottom: 6rem;
  /* padding: var(--padding); */
}

#filters {
  width: 20%;
  height: 100%;
  margin: var(--margin);
  border-radius: var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#searchDiv {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
#searchDiv img {
  width: 11%;
  position: absolute;
  right: 6px;
  top: 1px;
}
#searchDiv span {
  cursor: pointer;
  background-color: var(--orange-color);
  padding: 1rem;
  border-radius: var(--border-radius);
  margin: 0.2rem;
}
#search {
  margin: auto;
  width: 100%;
  background-color: var(--orange-color);
  height: 2rem;
  border: none;
  padding: var(--padding);
  border-radius: var(--border-radius);
}
#container {
  width: 70%;
  height: 100%;
  margin: var(--margin);
  border-radius: var(--border);
  overflow: scroll;
}
#output {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 260px;
  background-color: #ffedda;
  margin: 0.2rem;
  transition-duration: 300ms;
  border-radius: var(--border);
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  background-color: var(--blue-color);
}

.btn {
  padding: 0.4rem 1.1rem;
  background-color: var(--blue-color);
  border: none;
  border-radius: var(--border-radius);
  margin: 0.2rem;
  width: 50%;
  cursor: pointer;
  color: var(--white-color);
  font-size: 1rem;
  font-weight: bold;
  transition-duration: 300ms;
}
.btn:hover {
  background-color: var(--red-color);
}

#theme {
  width: 100%;
  height: 1.6rem;
  /* background-color: #999; */
  margin-bottom: 1rem;
  display: flex;
}
#mode {
  width: 50%;
  height: 100%;
}
#colors {
  /* background-color: violet; */
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: var(--padding);
}

/*  Color Selectors */
.red {
  background-color: var(--red-color);
}
.blue {
  background-color: var(--blue-color);
}
.orange {
  background-color: var(--orange-color);
}
.colorSelector {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin: var(--margin);
  cursor: pointer;
}

/*  Dark Mode  */
#darkModeToggle {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.darkmode {
  --clr-light: #fdffc4;
  --clr-dark: #00332a;
  --clr-primary: #202302;
  --clr-secondary: #00100d;
  --clr-accent: #ff7750;

  color: var(--accent-light);
  background-color: var(--clr-secondary);
}
